body{
  background-color: rgb(255, 0, 51);
}

.body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15%;
  color: white;
  font-weight: 900;
  font-size: x-large;
  gap:2rem;
}

.buttons{
  display: flex;
  flex-direction: row;
  gap:2rem;
}

button{
  padding:2rem;
  border: none;
}